@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    height: 40px;
    margin: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 100px;
}

.container {
    height: 405px;
    width: 723px;
    margin: auto;
    background-color: #e5d7b8a1;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    padding-top: 0px;
    text-align: center;
    font-family: "Inconsolata", monospace;
}

.container p {
    font-size: 28px;
    margin-bottom: 10px;
    padding: 150px;
    padding-top: 140px;
    max-height: 40px;
    max-width: 1000px;
}



.container span {
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;
    top: -60px;
    font-weight: bold;

}

.container span::before {
    content: '';
    width: 20px;
    height: 2px;
    /* background: rgb(23, 124, 229); */
    position: absolute;
    top: 50%;
    left: -30px;
}

.container div {
    width: 100%;
    margin-top: 0px;
    display: flex;
    justify-content: center;

}

.container button {
    border-radius: 6px;
    height: 44px;
    width: 123px;
    background-color: #d9d0b63d;
    border: 0.2px solid rgba(0, 0, 0, 0.558);
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    cursor: pointer;
}


/* MOBILE PHONES */
/* @media only screen and (min-width: 480px){
    body{
        background-size:cover;
        max-height: fit-content;
        max-height: 1300px;
    }
    h2{
        font-size: 16px;
    }
    .container{
        height: 205px;
        width: 423px;
        margin: auto;
    }
} */

/* MOBILES LANDSCAPE */
/* @media only screen and (min-width: 770px){
    body{
        background-color: red;
    }
} */


/* TABLETS AND BIGGER PHONES */
@media only screen and (min-width: 980px) {
    body {
        background-size: cover;
        max-height: fit-content;
    }

    h2 {
        font-size: 30px;
        margin: 18px;
        margin-bottom: 50px;
    }

    .container {
        height: 380px;
        width: 623px;
        margin: auto;
        padding: 30px;
        top: 55%;
    }

    .container p {
        font-size: 25px;
        margin-bottom: 30px;
        padding: 130px;
        padding-top: 100px;
    }

    .container span {
        margin-top: 10px;
        top: -40px;
    }

    .container div {
        width: 100%;
    }
    .container button {
        border-radius: 6px;
        height: 40px;
        width: 118px;
        font-size: 13px;
    }
}


/* LAPTOP AND BIGGER PC SCREENS */
@media only screen and (min-width: 1200px) {
    body {
        background-size: cover;
        max-height: fit-content;

    }

    h2 {
        font-size: 30px;
        margin: 20px;
        margin-bottom: 60px;
    }

    .container p {
        font-size: 30px;
    }

    .container button {
        font-size: 18px;
    }
}